<div id="footer">
    <p>
        <a class="icon-github-circled" href="https://github.com/keliangyong"></a>
        <a class="icon-wechat" title="ke55555"></a>
        <a class="icon-twitch" href="https://www.zhihu.com/people/ke-liang-yong/activities"></a>
        <a class="icon-mail" title="keliangyong@gmail.com"></a>
    </p>
</div>