<nav>
    <div class="wrap">
        <div class="nav-left">
            <img src="./img/me-small.jpg" alt="头像">
        </div>
        <div class="nav-right">
            <a href="">首页</a>
            <a href="">博客列表</a>
            <a href="">写博客</a>
            <a href="">关于我</a>
        </div>

    </div>
</nav>