<nav>
    <div class="wrap">
        <div class="nav-left">
            <img src="./img/me-small.jpg" alt="头像">
            <span>小柯的个人博客</span>
        </div>
        <div class="nav-right">
            <a href="/">首页</a>
            <a href="/list">博客列表</a>
            <%if(isMaster){%>
                <a href="/write">写博客</a>
            <%}%>
            <a href="/about">关于我</a>
        </div>
    </div>
</nav>