<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="./css/reset.css" rel="stylesheet">
<link href="./css/index.css" rel="stylesheet">
</head>
<body>
    <!--头部-->
    <%- include('./module/header') %>
    <!--中间部分-->
    <%- include(templateName) %>
    <!--底部-->
    <%- include('./module/footer') %>
</body>
</html>